<div class="">
	<h1>New Produit</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/Produit/create" method="post">
				<div class="">
					<label for="">NomArticle</label>
					<input type="text" name="NomArticle" value="" required="false">
				</div>
				<div class="">
					<label for="">Reference</label>
					<input type="text" name="Reference" value="" required="false">
				</div>
				<div class="">
					<label for="">designation</label>
					<input type="text" name="designation" value="" required="false">
				</div>
			<button type="submit">Save Produit</button>
		</form>
		<br />
		<a href="/Produit">Index</a>
	</div>
</div>
