<h1>Show Produit</h1>

	<p>
		<strong>nomArticle:</strong>
		<%= element.nomArticle %>
	</p>
	<p>
		<strong>Reference:</strong>
		<%= element.Reference %>
	</p>
	<p>
		<strong>designation:</strong>
		<%= element.designation %>
	</p>

<br>
<a href="/Produit/edit/<%= element.id %>">Edit</a>
<a href="/Produit/create">New</a>
<a href="/Produit">Back</a>
