<div id="historique" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/historique.less</em>, <em>assets/js/pages/historique.page.js</em>, and <em>api/controllers/view-historique.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
