<table class="table">
  <tbody>
      <tr>
          <td>Nom du Responsable : </td>
          <td class="font-weight-bold "><%= res.fisrtName %></td>
          <!-- <td class="font-weight-bold">
            <a class="text-success mr-2" href="#"><i class="nav-icon i-Pen-2 font-weight-bold"></i></a>
          </td> -->
      </tr>
      <tr>
          <td>Prenom du Responsable : </td>
          <td class="font-weight-bold"><%= res.lastName %></td>
          <!-- <td class="font-weight-bold">
            <a class="text-success mr-2" href="#"><i class="nav-icon i-Pen-2 font-weight-bold"></i></a>
          </td> -->
      </tr>
      <tr>
          <td>Cin : </td>
          <!-- <td class="text-success"><%= res.cin %></td> -->
          <td class="font-weight-bold"><%= res.cin %></td>
          <!-- <td class="text-danger">
            <a class="text-success mr-2" href="#"><i class="nav-icon i-Remove font-weight-bold"></i></a>
          </td> -->
      </tr>
  </tbody>
</table>
